/* text */
h1, h2 {
    font-family: 'Lobster', cursive;
    color:#616161;
}

h3, h4, h5, h6, p {
font-family: 'Open Sans', sans-serif;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* body base:#c0ffff accent: #0971ff  */


/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* header: navbar */


.navbar-nav li {
font-family: 'Lobster';
background-color: #ffffff;
border: 2px solid black;
color: black;
font-size: 18px;
text-align: right;
padding-right: 50px;
padding-top: 3px;
padding-left: 4px;
padding-bottom: 3px;
transition: 0.3s;
max-height: 40px;
min-height: 10px;
}


.navbar a {
    text-decoration: none;
    color:black;
}

.navbar-nav li:hover{
    box-shadow: inset 6px 3px 0px  black;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* header: picture */

  /*  @media screen and (min-width:576px {
  .navbar-nav li {
    font-size: 10px;
  }
}

@media screen and (min-width:768px {
  .navbar-nav li {
    font-size: 10px;
  }
}

@media screen and (min-width:992px {
  .navbar-nav li {
    font-size: 18px;
  }
}  */

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* About me */
#about-me-image{

}

#bio {

}

#bio h1{
    background-color: #0971ff;
    color:black;
}

#soundcloud {

}

#soundcloud h2{
    background-color: #0971ff;
    color:black;
}

#soundcloud-player{

}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* contact */

#contact-div{

}

#contact-div h1{
    background-color: #0971ff;
    color:black;
}

#contact-form {

}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* DJ */
#dj-course-intro {

}

#dj-course-intro h1{
    background-color: #0971ff;
    color:black;
}

#dj-intro-writing{

}

#dj-video {

}

#dj-course-price {
background-color:#660066;
    color:white;
}

#dj-course-price h2{
    color:lightgray
}


#dj-tips {

}

#dj-tips h1{
    background-color: #0971ff;
    color:black;
}

#mixcloud {

}
#mixcloud h1{
    background-color: #0971ff;
    color:black;
}

#mixcloud-player{

}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* index */

#home-intro{

}

#home-intro h1{
    background-color: #0971ff;
    color:black;
}

#home-header{

}

#home-video{

}

#home-lists{

}

#website-for{
    background-color:#660066;
    color:white;
}

#website-for h2{
    color:lightgray
}

#offer-you{
 background-color:#660066;
    color:white;
}

#offer-you h2{
    color:lightgray
}

#special-offer{
    background-color: #ff66ff;
}

#special-offer h2{
    color:black;
}

#special-offer h2 a{
    color:#0000ff;
}

#home-conclusion{

}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* production */

#production-course-intro {

}

#production-course-intro h1{
    background-color: #0971ff;
    color:black;
}

#production-course-price {
background-color:#660066;
    color:white;
}

#production-course-price h2{
    color:lightgray
}

#production-curriculum {

}

#production-curriculum-headline{

}

#module1 (

)

#module2 (
    
)

#module3 (
    
)

#module4 (
    
)

#module5 (
    
)

#module6 (
    
)

#module7 (
    
)

#modulebonus (
    
)

#production-video {

}

#production-video-player{

}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* design */

#design-intro{

}

#design-intro h1{
    background-color: #0971ff;
    color:black;
}

#design-drumkits{

}

#design-price{

}

#design-table{
   
}

.design-total-patches {

}

.design-total-cost {

}

.design-per-patch {

}

.design-savings {
    color:red;
}

#design-samples h2 {
    background-color: #0971ff;
    color:black;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* footer */
#newsletter{
    #
}