/* text */
h1, h2 {
    font-family: 'Lobster', cursive;
    color:#616161;
}

h3, h4, h5, h6, p {
font-family: 'Open Sans', sans-serif;
}

p {
    padding:5px 5px 5px 5px;
    margin-top: 4px;
    margin-bottom: 4px ;
    margin-left:7px;
    margin-right: 7px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* header: navbar */

header {
    height: auto;
}

.navbar-nav li {
font-family: 'Lobster';
background-color: #ffffff;
border: 2px solid black;
color: black;
font-size: 18px;
text-align: right;
padding-right: 15px;
padding-top: 3px;
padding-left: 4px;
padding-bottom: 3px;
transition: 0.3s;
max-height: 30px;
min-height: 10px;
float:left;
}


.navbar a {
    text-decoration: none;
    color:black;
}

.navbar-nav li:hover{
    box-shadow: inset 6px 3px 0px  black;
}

header{
    background-color: rgb(78, 78, 78)
}
nav {
    display: inline-block;
}

#banner-img{
    display: inline-block;
}

#banner-img-div{
    float: right;
    position: relative;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* header: picture */

  /*  @media screen and (min-width:576px {
  .navbar-nav li {
    font-size: 10px;
  }
}

@media screen and (min-width:768px {
  .navbar-nav li {
    font-size: 10px;
  }
}

@media screen and (min-width:992px {
  .navbar-nav li {
    font-size: 18px;
  }
}  */

}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* About me */

#bio {

}

#bio h1{
    background-color: #0971ff;
    color:black;
    text-align: center;
}

#bio p {
    border: 7.5px solid black 
}

#soundcloud {

}

#soundcloud h2{
    background-color: #0971ff;
    color:black;
    text-align: center;
}

#soundcloud-player{

}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* contact */

#contact-div{

}

#contact-div h1{
    background-color: #0971ff;
    color:black;
    text-align:center;
}

#contact-form {
text-align: center;
border: 5px solid black;
 font-weight: bold;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* DJ */
#dj-course-intro {

}

#dj-course-intro h1{
    background-color: #0971ff;
    color:black;
    text-align: center;
}

#dj-course-intro p{
     border: 7.5px solid black 
}

#dj-intro-writing{

}

#dj-video {

}

#dj-course-price {
background-color:grey;
    color:black;
    font-weight: bold;
    text-align: center;
    border-style:solid;
    border-width: 7.5px;
    
}

#dj-course-price h2{
 color:black;
    border7.5px solid grey;
    text-decoration: underline;
}

#dj-course-price a{
    color:rgb(23, 7, 167)
}

#dj-img {
    max-width:100%;
    border: 7.5px solid black;
}

#dj-tips p{
    font-size: 16px;
}

#dj-tips {
    border: 7.5px solid black;
    background-color: #719ad4;
    color:black;
}

#dj-tips li {
    font-size: 18px;
}

#mixcloud {

}
#mixcloud h1{
    background-color: #0971ff;
    color:black;
    text-align:center;
}

#mixcloud-player{

}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* index */

#home-intro{

}

#home-intro h1{
    background-color: #0971ff;
    color:black;
    text-align: center;
}

#home-header{

}

#home-video{

}

#home-lists{

}

#website-for{
background-color:grey;
    color:black;
    font-weight: bold;
    text-align: center;
     border-style:solid;
    border-width: 7.5px;
}

#website-for h2{
    color:black;
    border7.5px solid grey;
    text-decoration: underline;
}

#offer-you{
 background-color:grey;
    color:black;
    font-weight: bold;
    text-align: center;
     border-style:solid;
    border-width: 7.5px;
}

#offer-you h2{
    color:black;
    border7.5px solid grey;
    text-decoration: underline;
}

#special-offer{
    background-color: rgba(72, 247, 247, 0.849);
}

#special-offer h2{
    color:black;
}

#special-offer h2 a{
    color:#0000ff;
}

#home-conclusion{

}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* production */

#production-course-intro {

}

#production-course-intro h1{
    background-color: #0971ff;
    color:black;
    text-align: center;
}

#production-course-intro p{
     border: 7.5px solid black 
}

#production-course-price {
background-color:grey;
    color:black;
    font-weight: bold;
    text-align: center;
     border-style:solid;
    border-width: 7.5px;
}

#production-course-price h2{
    color:black;
    border7.5px solid grey;
    text-decoration: underline;
}

#production-course-price a{
    color:rgb(23, 7, 167)
}

#production-curriculum {
background-color: rgb(110, 105, 105);
}

#production-curriculum div{
    height:auto;
    width: 100%;
    text-align: center;
    padding: 0 auto;
}

#production-curriculum-headline{

}

#production-image-1{
    width:90%;
}

#production-curriculum h3{
    font-weight: bold;
}

#module1 {

}

#module1-text{
background-color:white ;
color:black;
}


#module2 {

}

#module2-text{
background-color:black ;
color:white;
}

#module3 {
    
}

#module3-text{
background-color:white ;
color:black;
}

#module4 {

}


#module4-text{
background-color:black;
color:white;
}

#module5 {

}

#module5-text{
background-color:white ;
color:black;
}

#module6 {
    
}

#module6-text{
background-color:black;
color:white;
}

#module7 {

}

#module7-text{
background-color:white ;
color:black;
}

#modulebonus {

}

#modulebonus-text{
background-color: black;
color:white;
}

#production-video {

}

#production-video-player{

}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* design */

#design-intro{

}

#design-intro h1{
    background-color: #0971ff;
    color:black;
    text-align: center;
}

#design-intro p{
 border: 7.5px solid black 
}

#design-drumkits{

}

#design-price{

}

#design-table{
    border-style: double;
   
}

.design-total-patches {

}

.design-total-cost {

}

.design-per-patch {

}

.design-savings {
    color:green;
}

#design-samples h2 {
    background-color: #0971ff;
    color:black;
    text-align: center;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* footer */
footer {
    background-color: rgb(78, 78, 78);
    color:whitesmoke;
    text-align: center;
}

#newsletter{
    #
}

footer #social{
    word-spacing: 5px;
    line-height: 3px;

footer a{
    font-size:20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: white;
}

footer i{
    color:grey;
}

#social p{
    font-weight: bold;
}
